*{
    margin:0;
    padding:0;
}
body{
    min-height:100vh;
    background:
    linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
    url("bcg.jpg");
    background-size:cover;
    background-position:center;
    background-repeat: no-repeat; 
    text-align: center;;
}
.container{
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap:1.5vmin
}
.box{
    height:18vmin;
    width:18vmin;
    border-radius:1rem;
    border:none;
    box-shadow:0 0 1rem rgba(0, 0,0, 0.6);
    font-size:12vmin;
    color:#ef10a5;
    background-color:#a9d3ff;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow:
        0 0 5px #00bbff,
        0 0 10px #00bbff,
        0 0 20px #00bbff,
        0 0 40px #00bbff;
}
#reset-btn{
     padding:1rem;
     font-size:1.5em;
     background-color:#ae14dd;
     color:white;
     border-radius:1rem;
     align-items: center;
}
#new-game{
    padding:1rem;
     font-size:1.5em;
     background-color:#eaea0d;
     color:white;
     border-radius:1rem;
}
#winner{
    color:#00bbf9;
    font-size:8vmin;
    text-transform: capitalize;
}
.msg-container{
    height:30vmin;

}
.hide{
    display:none;
}
h1{
    color:rgb(15, 236, 133);
    font-weight: bolder;
    font-size:40px;
}
@media (max-width:600px){

    body{
        background-size:contain; 
        background-color:black;  
    }

}